<%- include('../partials/header.ejs') %>

<main>
  <% if (orders.length <= 0) { %>
  <h1>Nothing there!</h1>
  <% } else { %>
  <div class="">
    <form action="/admin/orders" method="POST">
      <label for="paymentOption" class="mt-2">Sort by:</label>
        <select name="paymentOption" id="paymentOption" class="mb-3" required>
          <option>Choose option</option>
          <option value="full">Payment option: Full</option>
          <option value="deposit">Payment option: Deposit</option>
        </select>
        <button type="submit" class="btn btn-outline-secondary my-1">Sort</button>
      <div class="">
          <a href="/admin/orders" class="btn btn-outline-secondary mx-2">Sort by Date</a>
          <a href="/admin/ordersByCashier" class="btn btn-outline-secondary">Sort by Cashier</a>
      </div>
    </form>
  </div>
  <br />
  <ul class="orders">
    <% totalPrice = 0 %>
    <% totalIncome = 0 %>
    <% orders.forEach(order => { %>
    <li class="orders__item">
      <div class="spaceBetween">
        <h1>Order - # <%= order._id %></h1>
        <%= order.createdAt %>
      </div>
      <ul class="orders__products">
        <% order.products.forEach(p => { %>
        <li class="orders__products-item">
          <%= p.product.title %> (<%= p.quantity %>)
          <h3>₦<%= p.product.price %></h3>
          <% itemTotalPrice = p.product.price * p.quantity %> <% totalPrice =
          totalPrice + itemTotalPrice %>
        </li>
        <% }); %>
        <div class="spaceBetween">
          <h3>Payment type: <%= order.paymentOption %></h3>
          <h3><div>Ordered by: <%= order.user.name %></div></h3>
          <div><% if (!order.paid) { %>
            <h3 style="color: red;">Payment Status: Pending</h3>
            <% } else { %>
            <h3 style="color: green;">Payment Confirmed by <%= order.cashier.username %></h3>
            <% } %></div>
        </div>
        <div class="spaceBetween">
          <h3>Total Price: ₦<%= totalPrice %></h3>
          <% totalIncome = totalIncome + totalPrice %>
          <!-- <a href="/invoice/<%= order._id %>" class="btn btn-outline-secondary">Generate invoice</a> -->
          <a href="/receipt/<%= order._id %>" class="btn btn-outline-secondary">Generate receipt</a>
        </div>
        <% totalPrice = 0 %>
      </ul>
    </li>
    <% }); %>
  </ul>
  <% } %>

  <h2 style="text-align: center;">Total Income: <%= totalIncome %></h2>
  <% totalIncome = 0 %>

  <!-- <div class="centered">
        <form action="/create_order" method="POST">
          <button type="submit" class="btn">Order Now!</button>
        </form>
      </div> -->
</main>

<%- include('../partials/footer.ejs') %>
