<%- include('../partials/header.ejs') %>

<main>
    <h1 class="cardTitle fw-bolder">SHOP</h1>
    <div class="mx-5">
      <form action="/productsSort" method="POST">
        <label for="category" class="mt-2 mx-2">Sort by:</label>
        <select name="category" id="category" class="mx-1 px-4 py-1" required>
          <option>Choose category</option>
          <option value="groceries">Groceries</option>
          <option value="utensils">Utensils</option>
          <option value="medical">Medical</option>
          <option value="lifestyle">Lifestyle</option>
          <option value="toiletries">Toiletries</option>
        </select>
        <button type="submit" class="btn btn-outline-secondary my-1">Sort</button>
      </form>
    </div>


  <% if (prods.length > 0) { %>
  <div class="album py-5">
    <div class="container">
      <% if (errorMessage) { %>
        <div class="user_message user_message_error my-3"><%= errorMessage %></div>
      <% } %>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% for (let product of prods ) { %>
          <% let filename %>
          <% product.media ? filename = `/images/${product.media.filename}` : filename = product.mediaURL %>
        <div class="col">
          <form action="/cart" method="POST">
          <div class="card shadow-sm" style="min-height: 500px; max-height: 600px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);">

            <img src="<%= filename %>" alt="No Media" class="bd-placeholder-img card-img-top p-4" width="100%" height="350" >

            <div class="card-body">
              <h2><%= product.title %></h2>
              <small class="text-muted">₦<%= product.price %></small> <br>
              <input type="text" name="qty" id="qty" class="product_quantity mt-2" placeholder="Enter quantity...">
              <!-- <p class="card-text"><%= product.description %></p> -->
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/products/<%= product.id %>" class="btn btn-outline-secondary">Details</a>
                  <% if (isAuthenticated) { %>
                    <button type="submit" class="btn btn-outline-warning mx-2">Add to cart</button>
                    <input type="hidden" name="productId" value="<%= product.id %>" />
                </form>
                  <% } else { %>
                    <div class="mx-3 my-2">
                      log in to purchase item
                    </div>
                  <% } %>
                </div>
                
                <small class="text-muted">In stock: <%= product.inStock %></small>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
    <% } else { %>
    <h1>No Products in shop!</h1>
    <% } %>  

</main>


<%- include('../partials/footer.ejs') %>
