<%- include('../partials/header.ejs') %>

<main>
  <% if (errorMessage) { %>
     <div class="user_message user_message_error"><%= errorMessage %></div>
  <% } %>
  <div class="mx-2">
    <form action="/cashier/orders" method="POST">
        <label for="paymentStatus" class="mt-2">Search Id:</label>
        <input type="text" name="orderId" id="orderId">
      <button type="submit" class="btn btn-outline-secondary my-1">Search</button>
    </form>
  </div>
  <br />
  <% if (orders.length <= 0) { %>
  <h1>Nothing Here!</h1>
  <% } else { %>
    <% totalPrice = 0 %> 
    
    <table class="table table-striped table-hover">
      <tr>
        <th>Order Id</th>
        <th>Ordered by</th>
        <!-- <th>Date Created</th> -->
        <th>Total Price</th>
        <th>Payment Option</th>
        <th>Payment Status</th>
        <th>Actions</th>
      </tr>

      <form action="/cashier/ordersPaidStatus" method="post">
      <% orders.forEach(order => { %>
      <tr>
        <td><%= order._id %></td>
        <input type="hidden" value="<%= order._id %>" name="orderId">
        <td><%= order.user.name %></td>
        <!-- <td><%= order.createdAt %></td> -->
        <% order.products.forEach(p => { %>
          <% itemTotalPrice = p.product.price * p.quantity %> 
          <% totalPrice = totalPrice + itemTotalPrice %>
        <% }); %>
          <td>₦<%= totalPrice %></td>
          <td><%= order.paymentOption %></td>
          <td>
            <% if (!order.paid) { %>
              pending
            <% } else { %>
              Payment Confirmed by <%= order.cashier.username %>
            <% } %>
          </td>
          <td><a href="/cashier/viewOrder/<%= order._id %>" class="btn btn-outline-secondary">Update</a></td>
    <% totalPrice = 0 %>
      </tr>
      <%  }) %>
      </form>
    </table>

  <% } %>

</main>

<%- include('../partials/footer.ejs') %>
