<%- include('../partials/header.ejs') %>

<main style="height: 90vh; margin-top: 54px; margin-bottom: 115px">
  <div>
    <% let image = cashier.gender === 'male' ? "/images/img_avatar1.png" :
    cashier.gender === 'female' ? "/images/img_avatar2.png" :
    "/images/fruit_avatar.png" %>
    <h1 class="dashboard_AdminName my-5">
      Hello, <%= cashier.username %><img
        src="<%= image %>"
        alt="Avatar"
        class="dashboard_avatar float-end mx-3"
      />
    </h1>
  </div>

  <div class="dashboard_container my-5">
    <a href="/cashier/products" class="dashboard_card my-5 py-3">
      <h2>Products</h2>
      <h3><%= prods %></h3>
    </a>
    <a href="/admin/out_of_stock?disable=true" class="dashboard_card my-5 py-3">
      <h2>Out of stock</h2>
      <h3><%= outProds %></h3>
    </a>
    <a href="/cashier/pendingOrders" class="dashboard_card my-5 py-3">
      <h2>Pending Orders</h2>
      <h3><%= pendingOrders %></h3>
    </a>
    <a href="/cashier/confirmedOrders" class="dashboard_card my-5 py-3">
      <h2>Confirmed Orders</h2>
      <h3><%= confirmedOrders %></h3>
    </a>
  </div>

  <div class="dashboard_container my-2">
    <a href="/cashier/findOrders" class="dashboard_card my-5 py-3">
      <h2>Find an Order</h2>
      <h3><small>`</small></h3>
    </a>
  </div>
</main>

<%- include('../partials/footer.ejs') %>
