<%- include('../partials/header.ejs') %>

    <main>

        <h1 class="cardTitle fw-bolder">SHOP</h1>
        <div class="mx-5">
            <div class="d-flex w-100 justify-content-between">
                <form action="/cashier/productsSort" method="POST">
                    <label for="category" class="mt-2 mx-2">Sort by:</label>
                    <select name="category" id="category" class="mb-3" required>
                        <option>Choose category</option>
                        <% categories.map((category) => { %>
                        <option value="<%= category.category %>"><%= category.category %></option>
                        <% }) %>
                    </select>
                    <button type="submit" class="btn btn-outline-secondary my-1">Sort</button>
                </form>
                <form action="/cashier/productsSubCatSort" method="POST">
                    <label for="category" class="mt-2 mx-2">Sort by Sub Category: </label>
                    <select name="sub_cat" id="sub_cat" class="mb-3" required>
                        <option>Choose Sub Category</option>
                        <% sub_cats.map((sub_cat) => { %>
                            <option value="<%= sub_cat.sub_cat %>"><%= sub_cat.sub_cat %></option>
                        <% }) %>
                    </select>
                    <button type="submit" class="btn btn-outline-secondary my-1">Sort</button>
                </form>
            </div>
            <hr>
            <a href="/cashier/add_product" class="btn btn-outline-secondary float-end">Add Products</a>
        </div>


        <% if (prods.length > 0) { %>
            <div class="album py-5">
                <div class="container">
                    <% if (errorMessage) { %>
                        <div class="user_message user_message_error my-3">
                            <%= errorMessage %>
                        </div>
                        <% } %>

                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                <% for (let product of prods ) { %>
                                    <% let filename %>
                                        <% product.media ? filename = `/images/${product.media.filename}` : filename = product.mediaURL %>
                                            <div class="col">
                                                <form action="/cart" method="POST">
                                                    <div class="card shadow-sm" style="min-height: 500px; max-height: 600px; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);">

                                                        <img src="<%= filename %>" alt="No Media" class="bd-placeholder-img card-img-top p-4" width="100%" height="350">

                                                        <div class="card-body">
                                                            <h2>
                                                                <%= product.brand %>
                                                            </h2>
                                                            <small class="text-muted">₦<%= product.selling_price %></small> <br>
                                                            <input type="text" name="qty" id="qty" class="product_quantity mt-2" placeholder="Enter quantity...">
                                                            <!-- <p class="card-text"><%= product.description %></p> -->
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <div class="btn-group">
                                                                    <a href="/cashier/products/<%= product.id %>" class="btn btn-outline-secondary">Details</a>
                                                                    <% if (isAuthenticated) { %>
                                                                        <button type="submit" class="btn btn-outline-warning mx-2">Add to cart</button>
                                                                        <input type="hidden" name="productId" value="<%= product.id %>" />
                                                </form>
                                                <% } %>
                                                    </div>

                                                    <small class="text-muted">In stock: <%= product.qty %></small>
                                                    </div>
                                                    </div>
                                                    </div>
                                            </div>
                                            <% } %>
                            </div>
                </div>
            </div>
            <% } else { %>
                <h1>No Products in shop!</h1>
                <% } %>

    </main>


    <%- include('../partials/footer.ejs') %>