<%- include('../partials/header.ejs') %>

  <div class="container col-xxl-8 px-4 py-5 bg-secondary text-white" style="border-radius: 8px; margin: 109px auto;">
     <form action="/cart" method="POST">
        <% if (errorMessage) { %>
              <div class="user_message user_message_error"><%= errorMessage %></div>
        <% } %>
        <div class="row align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="<%= product.media%>" class="d-block mx-lg-auto img-fluid" alt="no media" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3"><%= product.title %></h1>
            <p class="lead"><%= product.description %></p>
            <h3>₦<%= product.price %></h3>
            <input type="text" name="qty" id="qty" class="product_quantity mt-2" placeholder="Enter quantity..."> <br>           
            <small class="text-muted">In stock: <%= product.inStock %></small>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <% if (isAuthenticated) { %>
                <button type="submit" class="btn btn-outline-warning btn-lg px-4 me-md-2">Add to cart</button>
                <input type="hidden" name="productId" value="<%= product.id %>">
                </form>
            <% } %>
            <a href="/products" class="btn btn-outline-warning btn-lg px-4">Back</a>
            </div>
        </div>
        </div>
    </div>


<%- include('../partials/footer.ejs') %>